@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rampart+One&display=swap');
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme{

    --color-background : #121113 ;
    --color-background-accent: #222725 ;
    --color-text: #EEF1EF ;
    --color-text-muted: #F4EBE8;
    --color-accent:#F90093;
    --color-accent-secondary: #A45CFF;
    --color-highlight-accent: #33001f;
    --color-highlight-secondary: #2a0a3d;
    --color-highlight-soft: #1d1c1e;

    --font-inter: "Inter", sans-serif;
    --font-ramport: "Rampart One", sans-serif;
    --font-bungee: "Bungee Inline", sans-serif;

    --animate-movex: movex 2s linear  infinite  alternate;
    --animate-firstT: firstT 3s linear infinite alternate;
    --animate-secondT: secondT 3s linear infinite alternate;
    --animate-thirdT: thirdT 3s linear infinite alternate;
    --animate-glow: glow 1.5s ease-in-out infinite alternate;

}

@keyframes firstT {
    0%{
        left: 1rem;
    }
    34%{
        left: calc(50%);
    }
    100%{
        left: calc(50%);
    }
}

@keyframes secondT {
    0%{
        left: 50.2%;
        top:0%;
    }
    34%{
        left: 50.2%;
        top:0%;
    }
    50%{
        left: 50.2%;
        top:calc(100% - 2.5rem);
    }
    66%{
        left: 50.2%;
        top:0%;
    }
    100%{
        left: 50.2%;
        top:0%;
    }
}

@keyframes thirdT {
    0%{
        left: calc(50%);
    }
    66%{
        left: calc(50%);
    }
    100%{
        left: calc(100% - 2rem);
    }
}

@keyframes movex {
    0%{
        left: 1rem;
    }
    100%{
        left:calc(100% - 2rem);
    }
}

@keyframes glow{
    0%{
        scale: 1;
        opacity: 1;
    }
    100%{
        scale: 1.01;
        opacity: 0.7;
    }
}

.bg-grid{
    background-image: 
    linear-gradient(90deg,rgba(255,255,255,0.07) 1px,transparent 1px),
    linear-gradient(0deg, rgba(255,255,255,0.07) 1px,transparent 1px);
    background-size: 20px 20px;
}

.svg{
    fill: #F90093;
}

.svg-2{
    fill: #EEF1EF;
    transform: rotate(180deg);

}

